


<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
  <a class="nav-link" href="index.html">
    <i class="fa fa-fw fa-dashboard"></i>
    <span class="nav-link-text">Dashboard</span>
  </a>
</li>
<!-- tin navigation -->
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" >
    <i class="fa fa-fw fa-plus-square "></i>
    <span class="nav-link-text">TIN REGISTRATION</span>
  </a>
  <ul class="sidenav-second-level collapse" id="collapseComponents">
    
	 
      <li>
          <a href='/tin/individuals/'> Individuals</a>
      </li>
      <li>
          <a href='/tin/companies/'>Companies</a>
      </li>
           

  </ul>
</li>




<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#mla" >
    <i class="fa fa-fw fa-wrench"></i>
    <span class="nav-link-text">MLA</span>
  </a>
  <ul class="sidenav-second-level collapse" id="mla">
        <li>
            <a href='mla/vehicles'>Vehicles</a>
        </li>

       <li>
            <a href='/mla/get-tin-info/'>New Vehicle Registration</a>
        </li>
      	 
        <li>
            <a href='mla/edit-vehicle'>Edit Vehicle Registration</a>
        </li>
        <li>
            <a href='mla/change-vehicle-ownership/'>Change of Ownership</a>
        </li>
        <li>
            <a href='/mla/mark-stolen-car/'>Mark Stolen vehicle</a>
        </li>
        <li>
            <a href='mla/learner-permit'>Learners Permit</a>
        </li>
        <li>
            <a href='mla/renewal'>Renewal</a>
        </li>
        <li>
            <a href='mla/revalidation'>Revalidation</a>
        </li>
        <li>
            <a href='mla/recpts'>Print Particulars/Reciepts</a>
        </li>


  </ul>
</li>
 
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#store" >
    <i class="fa fa-fw fa-user"></i>
    <span class="nav-link-text">STORE</span>
  </a>
  <ul class="sidenav-second-level collapse" id="store">
    
	 
      <li>
          <a href='/store/plate-numbers/'>Plate Numbers</a>
      </li>
      <li>
          <a href='/store/get-office-name/'>Issue Plate Numbers</a>
      </li>
      <!-- <li>
          <a href='/store/inventory-car-plate/'>Plate Numbers Inventory</a>
      </li> -->
                       

  </ul>
</li>

<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#bills" >
    <i class="fa fa-fw fa-money"></i>
    <span class="nav-link-text">Bills</span>
  </a>
  <ul class="sidenav-second-level collapse" id="bills">
     <li>
       <a href='/mda/genearate-bill/' target='_blank'>Generate Bill</a>
      </li>
      <li>
          <a href='/mda/mdas/'>MDA</a>
      </li>
           <li>
          <a href='mda/revenue-items'>Add Revenue Item</a>
      </li>


  </ul>
</li>



<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
  <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#setUp" >
    <i class="fa fa-fw fa-cog"></i>
    <span class="nav-link-text">Set up</span>
  </a>
  <ul class="sidenav-second-level collapse" id="setUp">
    <li>
        <a href='/set-up/lgas/'>TIN Setup</a>
    </li>
    <li>
        <a href='/set-up/charges/'>Charges Setup</a>
    </li>
    <li>
        <a href='/set-up/offices/'>Setup Offices</a>
    </li>
    <li>
        <a href='/set-up/users/'>Users Setup</a>
    </li>

     <li>
        <a href='/set-up/institution-types/'> Institution Types</a>
    </li>


     <li>
        <a href='/set-up/institution-categories/'> Institution Categories</a>
    </li>


  </ul>
</li>
