<!DOCTYPE html>
<html lang="en">

<head>
 
  <title>CoreIGR | Add Local Government Area</title>
 {% include 'partials/css_head_links.html' %}

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">CoreIGR</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
      
        
      </ul>
     
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2" action="/search/" method="POST">
             {% csrf_token %}
            <div class="input-group">
              <input class="form-control" name="search_text" type="text" placeholder="Search for TIN" required>
              <span class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add Local Government</li>
      </ol>
      <!-- Example DataTables Card-->

      <div class="card">
      <h5 class="card-header">Add Local Goverment</h5>
      <div class="card-body">
        <form action="/set-up/add-lga/" method="POST"> 
                {% csrf_token %}
                <div class="form-group">


                   <div class="form-group row">
                      <label for="local_government_name" class="col-sm-2 col-form-label">Local Government Name</label>
                      <div class="col-sm-10">

                       
                       <select class="form-control form-control-sm" name="local_government_name">
                        <option>Choose LGA</option>

                        <option>Barkin Ladi</option>
                        <option>Bassa</option>
                        <option>Bokkos</option>
                        <option>Jos East</option>
                        <option>Jos North</option>
                        <option>Jos South</option>
                        <option>Kanam</option>
                        <option>Kanke</option>
                        <option>Langtang North</option>
                        <option>Langtang South</option>
                        <option>Mangu</option>
                        <option>Mikang</option>
                        <option>Pankshin</option>
                        <option>Quaan Pan</option>
                        <option>Riyom</option>
                        <option>Shendam</option>
                        <option>Wase</option>
                        <option>Others</option>

                        
                      </select>
                       
                      </div>
                    </div>


                     <div class="form-group row">
                      <label for="local_government_code" class="col-sm-2 col-form-label">Local Government Code</label>
                      <div class="col-sm-10">
                         <input type="text" class="form-control" name="local_government_code">
                      </div>
                    </div> 

                     <div class="form-group row"> 
                        <div class="col-sm-2 offset-md-2">
                            <input type="submit"  class="btn btn-primary" value="Save LGA">
                        </div>
                    </div>

                  </div>
                </form>
              </div>
      </div>


<!-- record created -->

    <div class="modal fade" id="recordCreatedModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Record created</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <p> Local Goverment created Successful</p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
        
      </div>
    </div>
  </div>
    <!-- Logout Modal-->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    {% include 'partials/js_links.html' %}

     {% if messages %}

          {% for message  in messages %}

            {% if  "record_created" in message.extra_tags %}
             
              <script>                   
                
                     $('#recordCreatedModal').modal('show');
                
            </script>
         

            
            {% endif %}

              
          {% endfor %}

        {% endif %}
  </div>
</body>


</html>
