<!DOCTYPE html>
<html lang="en">

<head>
 
  <title>CoreIGR | Bill</title>
  {% load static %}
 {% include 'partials/css_head_links.html' %}


  
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">CoreIGR</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
      
        
      </ul>
     
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add Vehicle</li>
      </ol> 

<!--       <div class="card border-0">
        <div class="card-header">
          <i class="fa fa-table"></i> Add vehicle</div>
        <div class="card-body"> -->

          
          <div class="row">
          <div class="col">

            <div class="card" style="">
              <img src="{% static 'images/20180719_124806.jpg' %}" class="  card-img-top" alt="Individual Image">
              <div class="card-body">
                <h5 class="card-title">Individual Details</h5>
              
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row  "> 
                  <div class="col-sm-5">
                        Bill Number
                      </div>
                      <div class="col lead text-left text-capitalize">
                         
                          {{tin.tin}}
                        
                      </div>
                       
                    </div>
                      <div class="col-sm-5">
                        MDA
                      </div>
                      <div class="col lead text-left text-capitalize">
                         
                          {{tin.tin}}
                        
                      </div>
                       
                    </div>
 
                </li>
                <li class="list-group-item">
                  <div class="row  "> 

                    <div class="col-sm-5">
                      Revenue
                    </div>
                    <div class="col lead text-left text-capitalize">
                      {{name}}
                    </div>
                     
                  </div>
                </li>

                <li class="list-group-item">
                   <div class="row  "> 

                    <div class="col-sm-5">
                      Period
                    </div>
                    <div class="col lead text-left text-capitalize">
                      {{ gender }}
                    </div>
                     
                  </div>
                </li>
               <li class="list-group-item">
                <div class="row  "> 

                    <div class="col-sm-5">
                      name
                    </div>
                    <div class="col lead text-left text-capitalize ">
                     {{ address }} 
                    </div>
                     
                  </div>
                </li>
               <li class="list-group-item">
                  
                 <div class="row"> 

                    <div class="col-sm-5">
                      Tin
                    </div>
                    <div class="col lead text-left text-capitalize  ">
                     {{ occupation }}
                    </div>
                     
                  </div>
                </li>
                 <li class="list-group-item">
                  
                 <div class="row"> 

                    <div class="col-sm-5">
                      Amount
                    </div>
                    <div class="col lead text-left text-capitalize  ">
                     {{ occupation }}
                    </div>
                     
                  </div>
                </li>
              </ul>
              <a href="select_payment.php" class="btn btn-success">PAY</a>
              
            </div>        
             

              
 
          </div>


          <div class="col-sm-8">
             
            <form class="card border-dark" action="/mla/vehicle-preview/" method="POST">
               {% csrf_token %}

              <div class="card-header">Outstanding Bills</div>
               <div class="card-body">
                 
               
               





                  <div class="table-responsive">
                    
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                     {% if mda_bills %}


                        <tr>
                          <th>BR Number</th>
                          <th>Title</th>
                          <th>Bill</th>
                          <th>Date</th>
                          <th>Amount</th>
                          <th>Options</th>

                         
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>BR Number</th>
                          <th>Title</th>
                          <th>Bill</th>
                          <th>Date</th>
                          <th>Amount</th>
                          <th>Options</th>
                          
                        </tr>
                      </tfoot>
                      <tbody>
                        {% for mda_bills in mda_bills %}
                        <tr>
                          <td>{{ mda_bills.office_name }}</td>
                          <td>{{ mda_bills.office_name }}</td>
                          <td>{{ mda_bills.office_name }}</td>
                           
                          <td> optins </td>
                        </tr>
                        {% endfor %}
                         {{ amount = amount + mda_bills.amount }}
                        <tr>
                          <td>{{amount}}</td>
                        </tr>

                              </table>
                          {% else %}
                              <strong> No offices yet </strong>
                          {% endif %}
         
                       
                      </tbody>
                    </table>
                  </div>


 
              
                
             
          </div>
        </div>
          </div>
          
       <!--  </div>
        </div>
         -->
       
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your CoreIGR 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

 
 <!-- Modal -->
    <div id="individualVehicleDataPreviewModal" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Record Preview</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <form action="/mla/save-individual-vehicle/" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="card">

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row"> 

                    <div class="col-sm-5">
                      Chassis Number
                    </div>
                    <div class="col-sm">
                      <input type="text" name="chassis_number" value="{{ chassis_number }}"  class="no-field-style" >
                    </div>
                   
                </div>
                </li>
                <li class="list-group-item">
                   <div class="row">
                    <div class="col-sm-5">
                      Vehicle Model
                    </div>
                    <div class="col-sm">
                      <input type="text" name="vehicle_model" value="{{ vehicle_model }}"  class="no-field-style" >
                    </div>
                     
                  </div>
                </li>
                <li class="list-group-item">
                   <div class="row">
                    <div class="col-sm-5">
                      Plate Number
                    </div>
                    <div class="col-sm">
                      <input type="text" name="number_plate" value="{{ number_plate }}"  class="no-field-style" >
                    </div>
                     
                  </div>
                </li>
                <li class="list-group-item">
                 <div class="row">
                  <div class="col-sm-5">
                    Vehicle Category
                  </div>
                  <div class="col-sm">
                    <input type="text" name="vehicle_category" value="{{ vehicle_category }}"  class="no-field-style" >
                  </div>
                   
                </div>
                </li>
                <li class="list-group-item">
                 <div class="row">
                  <div class="col-sm-5">
                    Gross Weight
                  </div>
                  <div class="col-sm">
                    <input type="text" name="address" value="{{ gross_weight }}"  class="no-field-style" >
                  </div>
                   
                </div>
                </li>
                <li class="list-group-item">
                 <div class="row">
                  <div class="col-sm-5">
                    Net Weight
                  </div>
                  <div class="col-sm">
                    <input type="text" name="net_weight" value="{{ net_weight }}"  class="no-field-style" >
                  </div>
                   
                </div>
                </li>
                <li class="list-group-item">
                 <div class="row">
                  <div class="col-sm-5">
                    Number of Passengers
                  </div>
                  <div class="col-sm">
                    <input type="text" name="no_of_passengers" value="{{ no_of_passengers }}"  class="no-field-style" >
                  </div>
             

                </div>
                </li>
                <li class="list-group-item">
                 <div class="row">
                  <div class="col-sm-5">
                    Color
                  </div>
                  <div class="col-sm">
                    <input type="text" name="colour" value="{{ colour }}"  class="no-field-style" >
                  </div>
                   
                </div>
                </li>
                <li class="list-group-item">
                   <div class="row">
                    <div class="col-sm-5">
                      Weight
                    </div>
                    <div class="col-sm">
                      <input type="text" name="weight" value="{{ weight }}"  class="no-field-style" >
                    </div>
                     
                  </div>
                </li>
                <li class="list-group-item">
                   <div class="row">
                    <div class="col-sm-5">
                     Engine Size
                    </div>
                    <div class="col-sm">
                      <input type="text" name="engine_size" value="{{ engine_size }}"  class="no-field-style" >
                    </div>
                     
                  </div>
                </li>
                <li class="list-group-item">
                   <div class="row ">
                    <div class="col-sm-5">
                      Work Place
                    </div>
                    <div class="col-sm">
                      <input type="text" name="cost_price" value="{{ cost_price }}"  class="no-field-style" >
                    </div>
                     
                  </div>
                </li>
               
              </ul>

                <div class="form-group bg-success">
                <div class="form-check ">
                  <input class="form-check-input" type="checkbox" id="add_with_particulars">
                  <label class="form-check-label" for="add_with_particulars">
                    Add Vehicle with Particulars
                  </label>
                </div>
              </div>

  
           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="continueEditingPage()">Back</button>
            <input type="submit"  class="btn btn-success" value="Save">
          </div>
        </form>

        </div>

      </div>
    </div>

  <!-- new record created modal -->
 


    <div class="modal fade" id="recordCreated">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Record created</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <p> Record has been Created </p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
        
      </div>
    </div>
  </div>

    <!-- Logout Modal-->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    {% include 'partials/js_links.html' %}
    {% if messages %}

      {% for message  in messages %}

        {% if  "v_data_preview" in message.extra_tags %}
         
          <script>                   
            
                 $('#individualVehicleDataPreviewModal').modal('show');
            
        </script>
        

        {%elif  "record_created" in message.extra_tags %}
         
          <script>                   
            
                 $('#recordCreated').modal('show');
                 
            
        </script>
        {% endif %}

          
      {% endfor %}

    {% endif %}
  </div>
</body>


</html>
