<!DOCTYPE html>
<html lang="en">

<head>
 
  <title>CoreIGR | TIN Setup</title>
 {% include 'partials/css_head_links.html' %}

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">CoreIGR</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
      
        
      </ul>
     
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">TIN SETUP </li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Local Government Areas</div>
        <div class="card-body">

          <div class="table-responsive">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStateCodeModal" style="float: right;margin-left: 2%;margin-right: 20px;"> Change State Code <strong class="text-dark bg-success p-2 rounded">{{state_code_value}}</strong></button>
              <a href="/set-up/add-lga/" type="button" class="btn btn-primary"  style="float: right;margin-left: 20%;margin-right: 20px;">Add LGA</a>


              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
             {% if lgas %}

                <tr>
                  <th>LGA</th>
                  <th>Code</th>
                  <th>Options</th>
                 
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>LGA</th>
                  <th>Code</th>
                  <th>Options</th>
                  
                </tr>
              </tfoot>
             



              <tbody>
                {% for lga in lgas %}
                <tr> 
                  <td>{{ lga.local_government_name }}</td>  

                  <td>{{ lga.local_government_code }}</td> 

                 
                  <td>
                     <a href="/set-up/edit-lga/{{lga.id}}/" class="btn btn-primary">Edit</a> &nbsp;&nbsp;
                   

                   
                  </td>
                  
                </tr>
                {% endfor %}
              </tbody>
              {% else %}
                 <div class="alert alert-warning float-left"  role="alert">
                    No Local Government Areas Yet
                </div>
              {% endif %}
              
            </table>
 
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your CoreIGR 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>


   

      <div class="modal fade" id="addStateCodeModal" tabindex="-1" role="dialog" aria-labelledby="addStateCodeModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addStateCodeModalTitle">Add State Code</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <!-- -------------------------------------------------------------------- -->
            
              <form action="/set-up/save-state-code/" method="POST"> 
                {% csrf_token %}
                <div class="form-group">

                    <label for="state_code">State Code</label>
                    <input type="text" class="form-control" id="state_code" value="{{ state_code }}" name="state_code">
                                
                </div>
                <input type="submit"  class="btn btn-primary" value="Update State Code">
              </form>

             
            </div>
           
          </div>
        </div>
      </div>
    <!-- Logout Modal-->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
{% include 'partials/js_links.html' %}
  </div>
</body>
<script>
           
        $(document).ready(function() {
            $("input:text")
                .focus(function () { $(this).select(); } )
                .mouseup(function (e) {e.preventDefault(); });
        });


        </script>


</html>
