<!DOCTYPE html>
<html lang="en">

<head>

  <title>CoreIGR | Vehicle Assessement</title>
  {% load static %}
 {% include 'partials/css_head_links.html' %}


  
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">CoreIGR</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
      
        
      </ul>
     
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add Vehicle</li>
      </ol> 

<!--       <div class="card border-0">
        <div class="card-header">
          <i class="fa fa-table"></i> Add vehicle</div>
        <div class="card-body"> -->

          
          <div class="row">
          <div class="col">

            <div class="card" style="">
              <img src="{% static 'images/20180719_124806.jpg' %}" class="  card-img-top" alt="Individual Image">
              <div class="card-body">
                <h5 class="card-title">Vehicle Details</h5>
              
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row  "> 

                      <div class="col-sm-5">
                        TIN
                      </div>
                      <div class="col lead text-left text-capitalize">
                         
                          {{tin.tin}}
                        
                      </div>
                       
                    </div>
                </li>
                <li class="list-group-item">
                  <div class="row  "> 

                    <div class="col-sm-5">
                      Name
                    </div>
                    <div class="col lead text-left text-capitalize">
                      {{name}}
                    </div>
                     
                  </div>
                </li>

                <li class="list-group-item">
                   <div class="row  "> 

                    <div class="col-sm-5">
                      Chassis
                    </div>
                    <div class="col lead text-left text-capitalize">
                      {{ gender }}
                    </div>
 
                  </div>
                </li>
               <li class="list-group-item">
                <div class="row  "> 

                    <div class="col-sm-5">
                      Vehicle Type
                    </div>
                    <div class="col lead text-left text-capitalize ">
                     {{ address }} 
                    </div>
                     
                  </div>
                </li>
               <li class="list-group-item">
                  
                 <div class="row"> 

                    <div class="col-sm-5">
                      Number Plate
                    </div>
                    <div class="col lead text-left text-capitalize  ">
                     {{ occupation }}
                    </div>
                     
                  </div>
                </li>
               <li class="list-group-item">
                  
                 <div class="row"> 

                    <div class="col-sm-5">
                      Category
                    </div>
                    <div class="col lead text-left text-capitalize  ">
                     {{ occupation }}
                    </div>
                     
                  </div>
                </li>
               <li class="list-group-item">
                  
                 <div class="row"> 

                    <div class="col-sm-5">
                      Gross Weight
                    </div>
                    <div class="col lead text-left text-capitalize  ">
                     {{ occupation }}
                    </div>
                     
                  </div>
                </li>

                <li class="list-group-item">
                  
                 <div class="row"> 

                    <div class="col-sm-5">
                      Net Weight
                    </div>
                    <div class="col lead text-left text-capitalize  ">
                     {{ occupation }}
                    </div>
                     
                  </div>
                </li>
                <li class="list-group-item">
                  
                 <div class="row"> 

                    <div class="col-sm-5">
                      Number OF Person
                    </div>
                    <div class="col lead text-left text-capitalize  ">
                     {{ occupation }}
                    </div>
                     
                  </div>
                </li>

               <li class="list-group-item">
                  
                 <div class="row"> 

                    <div class="col-sm-5">
                      Colour
                    </div>
                    <div class="col lead text-left text-capitalize  ">
                     {{ occupation }}
                    </div>
                     
                  </div>
                </li>
               <li class="list-group-item">
                  
                 <div class="row"> 

                    <div class="col-sm-5">
                       Weight
                    </div>
                    <div class="col lead text-left text-capitalize  ">
                     {{ occupation }}
                    </div>
                     
                  </div>
                </li>

               <li class="list-group-item">
                  
                 <div class="row"> 

                    <div class="col-sm-5">
                      engine Size
                    </div>
                    <div class="col lead text-left text-capitalize  ">
                     {{ occupation }}
                    </div>
                     
                  </div>
                </li>
              </ul>
              
            </div>        
    
 
          </div>


          <div class="col-sm-8">
             
            <form class="card border-dark" action="/mla/save-assessment/" method="POST">
               {% csrf_token %}
               {{tin}}

              <div class="card-header">Vehicle Assessment</div>
               <div class="card-body">
                 
               
              
                <!-- private vehicle saloon -->
              
              <div class="form-group row">

                <label for="assessment_type" class="col col-form-label">Assessment Type</label>
                <div class="col-sm-9">

                  <select name="assessment_type"  class="form-control">
                      <option>Select engine size</option>

                  {% if(  category == "Private Vehicle Saloon" and  engine_size == "1.6 - 2.0") %}

                            <option>Vehicle License [1.6 - 2.0]</option>                     
                            <option>Certificate of road worthiness</option>                           
                            <option>Registration Book</option>
                            <option>SMS Alert</option>
                            <option>Stamp Duty</option> 
                    
                  {% if( category == "Private Vehicle Saloon" and  engine_size == "2.1 - 3.0") %}
                            
                            <option>Vehicle License [2.1 - 3.0]</option>                      
                            <option>Certificate of road worthiness</option>
                            <option>Registration Book</option>
                            <option>SMS Alert</option>
                            <option>Stamp Duty</option>
                     

                  {% if( category == "Private Vehicle Saloon" and  engine_size == "3.1 - Above") %}
                            
                            <option>Vehicle License [3.1 - Above]</option>
                            <option>Certificate of road worthiness</option>
                            <option>Registration Book</option>
                            <option>SMS Alert</option>
                     
                  <!-- ============================COMMERCIAL VEHICLE SALOON ======================    -->
                  {% if( category == "Commercial Vehicle Saloon" and  engine_size == "1.6 - 2.0") %}
                            
                            <option>Vehicle License [1.6 - 2.0]</option>
                            <option>Certificate of road worthiness</option>
                            <option>Registration Book</option>                      
                            <option>Driver Badge</option>
                            <option>Hackney permit</option>
                            <option>SMS Alert</option>
                            <option>Stamp Duty</option>
                    
                    
                  {% if( category == "Commercial Vehicle Saloon" and  engine_size == "2.1 - 3.0") %}
                       
                           <option>Vehicle License [2.1 - 3.0]</option>
                           <option>Certificate of road worthiness</option>
                           <option>Registration Book</option>                      
                           <option>Driver Badge</option>
                           <option>Hackney permit</option>
                           <option>SMS Alert</option>
                           <option>Stamp Duty</option>
                    
                    
                  {% if( category == "Commercial Vehicle Saloon"  &&  engine_size == "3.1 - Above") %}
                     
                      <option>Vehicle License [3.1 - Above]</option>
                            <option>Certificate of road worthiness</option>
                            <option>Registration Book</option>
                            <option>Driver Badge</option>
                            <option>Hackney permit</option>
                            <option>SMS Alert</option>
                            <option>Stamp Duty</option>
                    
                    
                 <!-- ============================PRIVATE PICKUP/BUS ======================     -->
                  {% if( category == "Private Pickup/Bus" and  engine_size == "1.6 - 2.0") %}
                          
                          <option>Vehicle License [1.6 - 2.0]</option>                     
                          <option>Certificate of road worthiness</option>
                          <option>Registration Book</option>
                          <option>Driver Badge</option>
                          <option>Hackney permit</option>
                          <option>SMS Alert</option>
                          <option>Stamp Duty</option>
                    
                    
                  {% if( category == "Private Pickup/Bus" and  engine_size == "2.1 - 3.0") %}
                      
                          <option>Vehicle License [2.1 - 3.0]</option>
                          <option>Certificate of road worthiness</option>
                          <option>Registration Book</option>                      
                          <option>Driver Badge</option>
                          <option>Hackney permit</option>
                          <option>SMS Alert</option>
                          <option>Stamp Duty</option>
                    
                    
                  {% if( category == "Private Pickup/Bus"  &&  engine_size == "3.1 - Above") %}
                     
                          <option>Vehicle License [3.1 - Above]</option>
                          <option>Certificate of road worthiness</option>
                          <option>Registration Book</option>
                          <option>Driver Badge</option>
                          <option>Hackney permit</option>
                          <option>SMS Alert</option>
                          <option>Stamp Duty</option>
                        
                        
                 <!-- ============================COMMERCIAL PICKUP/BUS ======================    -->
                  {% if(  category == "Commercial Pickup/Bus" and  engine_size == "1.6 - 2.0") %}
                          
                          <option>Vehicle License [1.6 - 2.0]</option>
                          <option>Certificate of road worthiness</option>
                          <option>Registration Book</option>
                          <option>Conductors Badge</option>
                          <option>Driver Badge</option>
                          <option>Hackney permit</option>
                          <option>SMS Alert</option>
                          <option>Stamp Duty</option>
                    
                    
                  {% if( category == "Commercial Pickup/Bus" and  engine_size == "2.1 - 3.0") %}
                      
                          <option>Vehicle License [2.1 - 3.0]</option>
                          <option>Certificate of road worthiness</option>
                          <option>Registration Book</option>
                          <option>Conductors Badge</option>
                          <option>Driver Badge</option>
                          <option>Hackney permit</option>
                          <option>SMS Alert</option>
                          <option>Stamp Duty</option>
                    
                    
                  {% if( category == "Commercial Pickup/Bus"  &&  engine_size == "3.1 - Above") %}
                     
                          <option>Vehicle License [3.1 - above]</option>
                          <option>Certificate of road worthiness</option>
                          <option>Registration Book</option>
                          <option>Conductors Badge</option>
                          <option>Driver Badge</option>
                          <option>Hackney permit</option>
                          <option>SMS Alert</option>
                          <option>Stamp Duty</option>
                  
                    
                   <!-- ======================COMMERCIAL TRUCK/TRAILER ================================   -->
                    
                  {% if( category == "Commercial Truck/Trailer/Lorry/Tipper"  &&  engine_size == "6 - 8 tyres") %}
                          
                          <option>Vehicle License [6 - 8 tyres]</option>
                          <option>Certificate of road worthiness</option>
                          <option>Registration Book</option>
                          <option>Conductors Badge</option>
                          <option>Driver Badge</option>
                          <option>Hackney permit [6 - 8 tyres]</option>
                          <option>Hackney permit [10 tyres - above]</option>
                          <option>SMS Alert</option>
                          <option>Stamp Duty</option>
                    
                    
                  {% if( category == "Commercial Truck/Trailer/Lorry/Tipper" and  engine_size == "10 tyres - above") %}
                      
                          <option>Vehicle License [10 tyres - above]</option>
                          <option>Certificate of road worthiness</option>
                          <option>Registration Book</option>
                          <option>Conductors Badge</option>
                          <option>Driver Badge</option>
                          <option>Hackney permit [6 - 8 tyres]</option>
                          <option>Hackney permit [10 tyres - above]</option>
                          <option>SMS Alert</option>
                          <option>Stamp Duty</option>
                    
                    
                 <!-- =========================COMMERCIAL TRICYCLE/MOTORCYCLE =====================     -->
                  {% if( category == "Commercial Tricycle/Motorcycle" and  engine_size == "Motocycle") %}
                      
                          <option>Vehicle License Motorcycle</option>
                          <option>Certificate of road worthiness</option>
                          <option>Drivers Badge</option>
                          <option>Hackney permit</option>                           
                          <option>SMS Alert</option>
                          <option>Stamp Duty</option>
                  
                    
                  {% if( category == "Commercial Tricycle/Motorcycle" and  engine_size == "Tricycle") %}
                          
                          <option>Vehicle License Tricycle</option>
                          <option>Certificate of road worthiness</option>
                          <option>Drivers Badge</option>
                          <option>Hackney permit</option>
                          <option>SMS Alert</option>
                          <option>Stamp Duty</option>
                    }
                    
                    <!-- =========================PRIVATE  TRICYCLE/MOTORCYCLE =====================     -->
                  {% if( category == "Private Motorcycle" and  engine_size == "Motocycle") %}
                          
                          <option>Vehicle License Motorcycle</option>
                          <option>Certificate of road worthiness</option>
                          <option>Drivers Badge</option>
                          <option>Hackney permit</option>
                           
                          <option>SMS Alert</option>
                          <option>Stamp Duty</option>
                  
                    
                     <!-- =========================DEALERS VEHICLE =====================    -->
                   {% if( category == "Dealers Vehicle" ||  category == "Dealers Tricycle/Motorcycle") %}
                     
                           <option>Registration Fee</option>
                           <option>SMS Alert</option>
                           <option>Stamp Duty</option>
                  {% endif %}
                      </select>
                               
                      </div>
                    </div>


 
               
            
                 <div class="form-group row"> 
                    <div class="col-sm-2 offset-md-3">
                        <input type="submit"  class="btn btn-primary" value="submit">
                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>
          </div>










          
       <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> charges
        </div>
        <div class="card-body">

          <div class="table-responsive">
             <a href="/set-up/add-charge/"  class="btn btn-primary"  style="float: right;margin-left: 20%;margin-right: 20px;">Add charge</a>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
             {% if transaction_assessments %}

                <tr>
                  <th>Particular</th>
                  <th>Amount</th>
                  <th>Status</th>                  
                  <th>Options</th>
                        
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Particular</th>
                  <th>Amount</th>
                  <th>Status</th>                  
                  <th>Options</th>
                  
                </tr>
              </tfoot>
              <tbody>
                {% for transaction_assessment in transaction_assessments %}
                <tr>
                  <td>{{ transaction_assessment.particular }}</td>
                  <td>{{ transaction_assessment.amount }}</td>
                  <td>{{ transaction_assessment.status }}</td>
                      
                  <td>  remove | </td>
                  {{ amount = amount + transaction_assessment.amount }}
                </tr>
                {% endfor %}
                <td>total</td>
                <td>{{ amount }}</td>

                      </table>
                  {% else %}
                      <strong> No charges yet </strong>
                  {% endif %}
 
               
              </tbody>
            </table>
          </div>
          <a href="print_invoice.php" target="_blank" class="btn btn-primary">Print Invoice</a>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>









       
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your CoreIGR 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

 
 <!-- Modal -->
    <div id="individualVehicleDataPreviewModal" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Record Preview</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <form action="/mla/save-individual-vehicle/" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="card">

              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row"> 

                    <div class="col-sm-5">
                      Chassis Number
                    </div>
                    <div class="col-sm">
                      <input type="text" name="chassis_number" value="{{ chassis_number }}"  class="no-field-style" >
                    </div>
                   
                </div>
                </li>
                <li class="list-group-item">
                   <div class="row">
                    <div class="col-sm-5">
                      Vehicle Model
                    </div>
                    <div class="col-sm">
                      <input type="text" name="vehicle_model" value="{{ vehicle_model }}"  class="no-field-style" >
                    </div>
                     
                  </div>
                </li>
                <li class="list-group-item">
                   <div class="row">
                    <div class="col-sm-5">
                      Plate Number
                    </div>
                    <div class="col-sm">
                      <input type="text" name="number_plate" value="{{ number_plate }}"  class="no-field-style" >
                    </div>
                     
                  </div>
                </li>
                <li class="list-group-item">
                 <div class="row">
                  <div class="col-sm-5">
                    Vehicle Category
                  </div>
                  <div class="col-sm">
                    <input type="text" name="vehicle_category" value="{{ vehicle_category }}"  class="no-field-style" >
                  </div>
                   
                </div>
                </li>
                <li class="list-group-item">
                 <div class="row">
                  <div class="col-sm-5">
                    Gross Weight
                  </div>
                  <div class="col-sm">
                    <input type="text" name="address" value="{{ gross_weight }}"  class="no-field-style" >
                  </div>
                   
                </div>
                </li>
                <li class="list-group-item">
                 <div class="row">
                  <div class="col-sm-5">
                    Net Weight
                  </div>
                  <div class="col-sm">
                    <input type="text" name="net_weight" value="{{ net_weight }}"  class="no-field-style" >
                  </div>
                   
                </div>
                </li>
               
               
              </ul>

                <div class="form-group bg-success">
                <div class="form-check ">
                  <input class="form-check-input" type="checkbox" id="add_with_particulars">
                  <label class="form-check-label" for="add_with_particulars">
                    Add Vehicle with Particulars
                  </label>
                </div>
              </div>

  
           
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="continueEditingPage()">Back</button>
            <input type="submit"  class="btn btn-success" value="Save">
          </div>
        </form>

        </div>

      </div>
    </div>

  <!-- new record created modal -->
 


    <div class="modal fade" id="recordCreated">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Record created</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <p> Record has been Created </p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
        
      </div>
    </div>
  </div>

    <!-- Logout Modal-->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    {% include 'partials/js_links.html' %}
    {% if messages %}

      {% for message  in messages %}

        {% if  "v_data_preview" in message.extra_tags %}
         
          <script>                   
            
                  ('#individualVehicleDataPreviewModal').modal('show');
            
        </script>
        

        {%elif  "record_created" in message.extra_tags %}
         
          <script>                   
            
                  ('#recordCreated').modal('show');
                 
            
        </script>
        {% endif %}

          
      {% endfor %}

    {% endif %}
  </div>
</body>


</html>
